.cont-projects {
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform: translateX(-20px);
  display: flex;
  flex-direction: column;
}

.title-projects {
  text-align: center;
}

.cont-page-projects::-webkit-scrollbar {
  background-color: aqua;
}

.cont-page-projects {
  width: 100%;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
